:root {
  width: 100%;
}

html,
body {
  display: flex;
  flex: 1;
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  padding: 0;
  width: 100%;
}

#__next {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  height: 100%;
  margin: 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.drop-shadow {
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 2px 2px 1.2px);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
